[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
opencv-python = "*"
numpy = "==1.19.2"
tensorflow = "==2.7.*"
pytest = "*"
h5py = "*"
matplotlib = "*"
pillow = "*"
lrutils = "*"
fastapi = "*"
python-dateutil = "*"

[dev-packages]
public-test = "*"

[requires]
python_version = "3.8"
